@import "../../styles/utils/breakpoints";

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 100%;

  &__container {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
    height: 50%;

    &--back {
      width: 100%;

      &-action {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: start;
        width: min-content;
      }
      &-text {
        cursor: pointer;
      }
    }

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  &__row {
    &--image {
      border-radius: 10px;
      height: 120px;
      width: 120px;
    }
    &--title {
      font-size: 16px;
      font-weight: bold;
    }
    &--text {
      font-size: 16px;
    }
    &--actions {
      margin-top: 20px;
    }
  }
}
@media (max-width: $tablet) {
  .detail {
    box-sizing: border-box;
    justify-content: start;
    padding: 20px;
    width: 100%;

    &__container {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
