@import "../../styles/utils/colors";

.home {
  background-color: $white;
  height: 100%;
  overflow-y: hidden;
  width: 100%;

  &--list {
    overflow-y: auto;
    height: 70%;
  }

  &__containter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    &--title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &--content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 700px;
    }
  }

  &__text {
    &--cost {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__filter {
    align-items: center;
    display: flex;
    flex-direction: row;

    &--search-button {
      margin: 0;

      &>div {
        margin: 0;
      }
    }
  }

  &__filter-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;

    label {
      margin: 0;
    }

    &--text {
      align-items: center;
      display: flex;
      flex-direction: row;
    }
  }

  &--icon {
    cursor: pointer;
    height: 30px;
    width: 30px;

    &-filter {
      margin-left: 10px;
    }
    &-search {
      background: $text-placeholder;
      border-radius: 10px;
      height: 20px;
      margin-left: 5px;
      padding: 5px;
      width: 20px;
      &:hover {
        background: $text-placeholder-hover;
      }
      &:active {
        background: $text-placeholder-active;
      }
    }
  }
}
